<html>
  <head>
    <link rel="stylesheet" href="index.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <!--- PRODUCTION <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script> -->
  </head>

  <body>
    <div id ="app">
      {{ message }}
    </div>

    <div id="app-2">
      <span v-bind:title="message">
        Hover your mouse over me for a few seconds
        to see my dynamically bound title!
      </span>
    </div>

    <div id="app-3">
      <span v-if="seen">Now you see me</span>
    </div>
    <br>

    <p>My favourite books!</p>
    <div id="app-4">
      <li v-for="book in books">
        {{ book.text }}
      </li>
    </div>
    <br>

    <ul id="app-5">
      <li v-for="car in cars">
        {{ car }}
      </li>
    </ul>

    <div id="app-6">
      <p>{{ message }}</p>
      <button v-on:click="reverseMessage">Reverse Message</button>
    </div>




    <script src="example-js.js"></script>
  </body>
</html>
